{% extends "base.html" %}
{% block title %}
	All films
{% endblock %}
{% block main %}
	<h1>Films list</h1>
	{% if request.session.get('message') %}
		<div class="alert alert-success" role="alert">
			{{ request.session.pop('message') }}
		</div>
	{% endif %}
	<h3><a class="btn btn-outline-primary" href="{{ url_for('film:create') }}">Create new film</a></h3>
	{% if films %}
		<table class="table table-hover">
			<thead>
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Description</th>
				<th scope="col">Year</th>
				<th scope="col">Rating</th>
				<th scope="col">URL</th>
				<th scope="col">Actions</th>
			</tr>
			</thead>
			<tbody>
			{% for film in films %}
				<tr>
					<th scope="row">{{ film.name }}</th>
					<td>{{ film.description }}</td>
					<td>{{ film.year }}</td>
					<td>{{ film.rating }}</td>
					<td><a href="{{ film.url }}" target="_blank">{{ film.url }}</a></td>
					<td>
						<div class="btn-group">
							<a href="{{ url_for('film:update-view', slug=film.slug) }}" class="btn btn-outline-primary">Edit</a>
							<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
							        data-bs-target="#modal-confirm-delete-{{ film.slug }}">
								Delete
							</button>
						</div>


						<div class="modal fade" id="modal-confirm-delete-{{ film.slug }}" tabindex="-1"
						     aria-labelledby="modal-confirm-delete-{{ film.slug }}-label"
						     aria-hidden="true">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
									<div class="modal-header">
										<h1 class="modal-title fs-5" id="modal-confirm-delete-{{ film.slug }}-label">Confirm
											delete {{ film.slug }}</h1>
										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div class="modal-body">
										Are you sure you want to delete {{ film.slug }}?
									</div>
									<div class="modal-footer">
										<button type="button"
										        class="btn btn-secondary" data-bs-dismiss="modal">Close
										</button>
										<button hx-delete="{{ url_for('film:delete', slug=film.slug) }}"
										        hx-target="closest tr"
										        hx-swap="outerHTML swap:1s"
										        type="submit"
										        data-bs-dismiss="modal"
										        class="btn btn-danger">Yes
										</button>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	{% else %}
		<h2>No films found</h2>
	{% endif %}
{% endblock %}
