{% extends "base.html" %}
{% block title %}
	About - Film Catalog
{% endblock %}
{% block main %}
	<h1>About our movie catalog</h1>
	<div>
		<p>Hey there, movie lover! 🎬
			Welcome to our Movie Catalog — a place made for everyone who enjoys great stories on the big screen.

			Here, you’ll find movies from all around the world — from old classics to the newest hits. Each film page includes
			details like cast, plot, ratings, and fun facts to help you decide what to watch next.

			We believe movies bring people together, spark emotions, and inspire imagination. That’s why we’ve built this
			catalog — to make it easy (and fun!) to discover something amazing every time you visit.

			Grab some popcorn and start exploring — your next favorite movie is waiting! 🍿</p>
	</div>
{% endblock %}
